.vbox-custom {
    -fx-background-color: #f6f8fa;
}

/* Scroll Pane Styling */

.scroll-pane {
    -fx-background: #f6f8fa;
    /* Removes border when out of focus */
    -fx-background-insets: 0;
    -fx-background-radius: 0;
}

.scroll-pane:focused {
    -fx-focus-color: transparent;
    -fx-faint-focus-color: transparent;
}

/* Scrollbar Styling */

.scroll-bar:vertical {
    -fx-background-color: transparent;
    -fx-pref-width: 7px;
}

.scroll-bar:horizontal {
    -fx-background-color: transparent;
    -fx-pref-height: 6px;
}

.scroll-bar .thumb {
    -fx-background-color: #b6bfc8;
    -fx-background-radius: 4px;
}

.scroll-bar .track {
    -fx-background-color: transparent;
    -fx-background-radius: 4px;
}

/* Hide Scrollbar arrows */
.scroll-bar .increment-arrow,
.scroll-bar .decrement-arrow {
    -fx-background-color: transparent;
}

/* Hide Scrollbar button behind arrows */
.scroll-bar .increment-button,
.scroll-bar .decrement-button {
    -fx-background-color: transparent; /* Arrow color */
}

