/* Tab View */
.tab-pane {
    -fx-tab-min-width: 100px;
    -fx-tab-max-width: 200px;
    -fx-tab-min-height: 32px;
    -fx-background-color: #f6f8fa;
    -fx-border-color: #d0d7de;
    -fx-border-width: 1px 0 0 0;
}

.tab {
    -fx-background-color: #f6f8fa;
    -fx-text-base-color: #24292f;
    -fx-border-color: transparent transparent #d0d7de transparent;
    -fx-border-width: 0 0 1px 0;
    -fx-font-weight: 600;
    -fx-padding: 6px 16px;
    -fx-focus-color: transparent;
    -fx-faint-focus-color: transparent;
    -fx-background-insets: 0;
    -fx-font-size: 13px;
}

.tab:hover {
    -fx-background-color: #eaeef2;
    -fx-cursor: hand;
}

.tab:selected, .tab:selected:focused {
    -fx-text-base-color: #24292f;
    -fx-border-color: transparent transparent #2188ff transparent;
    -fx-border-width: 0 0 2px 0;
    -fx-font-weight: 700;
    -fx-focus-color: transparent;
    -fx-faint-focus-color: transparent;
    -fx-background-insets: 0;
}

.tab-header-background {
    -fx-background-color: #f6f8fa;
    -fx-border-color: #d0d7de;
    -fx-border-width: 0 0 1px 0;
}

.tab .tab-close-button {
    -fx-background-color: transparent;
    -fx-border-color: transparent;
}

/* Tab Expand Button */
.tab-pane .tab-down-button {
    -fx-background-color: #f6f8fa;
    -fx-pref-height: 42px;
    -fx-background-radius: 0 0 0 0;
    -fx-padding: 6px 16px;
}

.tab-pane .tab-down-button:hover {
    -fx-background-color: #eaeef2;
}

.tab-pane .tab-down-button .arrow {
    -fx-background-color: black;
}

.tab-pane .tab-down-button:hover .arrow {
    -fx-background-color: black;
}

