.input {
    -fx-background-insets: 0;
    -fx-border-width: 1;
    -fx-padding: 6 14;
    -fx-background-radius: 28;
    -fx-border-radius: 28;
    -fx-alignment: center-left;
    -fx-min-height: 40px;
}

.input-default {
    -fx-background-color: -color-darker-bg;
    -fx-border-color: transparent;
}

.input-outlined {
    -fx-background-color: -color-bg;
    -fx-border-color: -color-muted;
}

.input-focused.input-outlined {
    -fx-border-color: -color-primary;
}

.input-focused.input-default {
    -fx-border-color: -color-primary;
}

.input .input-field {
    -fx-background-color: transparent;
    -fx-border-color: transparent;
    -fx-text-fill: -color-fg;
    -fx-prompt-text-fill: -color-muted;
    -fx-background-insets: 0;
    -fx-border-width: 0;
    -fx-padding: 4 0;
    -fx-font-size: 14px;
}

.input .input-field:focused {
    -fx-background-color: transparent;
    -fx-border-width: 0;
}

.input .input-icon {
    -fx-padding: 0 6 0 0;
    -fx-alignment: center;
}

.input .input-icon .icon {
    -fx-stroke: -color-muted;
}

.input-focused .input-icon .icon {
    -fx-stroke: -color-primary;
}
