.root {
    -color-primary: #ffda6d;
    -color-secondary: #ba9b02;
    -color-tertiary: #ffefbf;
    -color-destructive: #f07e68;
    -color-bg: #232001;
    -color-fg: #d7cdc4;
    -color-darker-bg: #191701;
    -color-darker-bg-70: rgba(25, 23, 1, 0.7);
    -color-muted: rgba(215, 205, 196, 0.43);

    /* for reference only */
    /* since number variables are not supported */
    -unit-xs: 8px;
    -unit-sm: 12px;
    -unit-base: 16px;
    -unit-md: 20px;
    -unit-lg: 24px;

    -fx-font-family: "Inter 18pt";
    -fx-font-size: 16px;
    -fx-font-weight: normal;
    -fx-text-fill: -color-fg;
    -fx-background-color: -color-bg;
}

.icon {
    -fx-stroke-width: 2px;
    -fx-stroke: -color-fg;
    -fx-fill: transparent;
}

.page {
    -fx-text-fill: -color-fg;
}

.sidebar {
    -fx-background-color: -color-darker-bg;
    -fx-padding: 16px;
}

.text-fg {
    -fx-text-fill: -color-fg;
}

.search-bar {
    -fx-background-color: transparent;
    -fx-border-color: -color-muted;
    -fx-border-width: 1;
    -fx-border-radius: 24;
    -fx-background-radius: 24;
}

.search-input {
    -fx-background-color: transparent;
    -fx-text-fill: -color-fg;
    -fx-prompt-text-fill: -color-muted;
    -fx-border-width: 0;
    -fx-background-insets: 0;
    -fx-padding: 0;
}

.search-input:focused {
    -fx-background-color: transparent;
    -fx-border-width: 0;
}

/* ScrollPane transparent */
.scroll-pane {
    -fx-background-color: transparent;
}

.scroll-pane > .viewport {
    -fx-background-color: transparent;
}

.scroll-pane > .scroll-bar {
    -fx-background-color: transparent;
}

.scroll-pane > .scroll-bar > .thumb {
    -fx-background-color: -color-muted;
    -fx-background-radius: 5;
}

.scroll-pane > .scroll-bar > .increment-button,
.scroll-pane > .scroll-bar > .decrement-button {
    -fx-background-color: transparent;
}

.veil {
    -fx-background-color: -color-darker-bg-70;
}
