.root {
    -color-primary: #ffda6d;
    -color-secondary: #ba9b02;
    -color-tertiary: #ffefbf;
    -color-destructive: #f07e68;
    -color-bg: #232001;
    -color-fg: #d7cdc4;
    -color-darker-bg: #191701;
    -color-muted: rgba(215, 205, 196, 0.43);

    /* for reference only */
    /* since number variables are not supported */
    -unit-xs: 8px;
    -unit-sm: 12px;
    -unit-base: 16px;
    -unit-md: 20px;
    -unit-lg: 24px;

    -fx-font-family: "Inter";
    -fx-font-size: 16px;
    -fx-font-weight: normal;
    -fx-text-fill: -color-fg;
    -fx-background-color: -color-bg;
}

.icon {
    -fx-stroke-width: 2px;
    -fx-stroke: -color-fg;
    -fx-fill: transparent;
}

.page {
    -fx-text-fill: -color-fg;
}

.sidebar {
    -fx-background-color: -color-darker-bg;
    -fx-padding: 16px;
}
