.button {
  -fx-background-radius: 12px;
  -fx-border-radius: 12px;
  -fx-font-size: 16px; /* Default font size */
}

.button-default {
  -fx-background-color: transparent;
  -fx-text-fill: -color-fg;
}

.button-primary {
  -fx-background-color: -color-primary;
  -fx-text-fill: -color-bg;
}

.button-destructive {
  -fx-background-color: -color-destructive;
  -fx-text-fill: -color-bg;
}

.button-muted {
  -fx-background-color: transparent;
  -fx-text-fill: -color-muted;
  -fx-border-color: -color-muted;
  -fx-border-width: 1px;
  -fx-border-style: solid;
}

.button-xs {
  -fx-font-size: 12px;
  -fx-padding: 4px 8px;
}

.button-sm {
  -fx-padding: 4px 8px;
}

.button-base {
  -fx-padding: 8px 12px;
}

.button-md {
  -fx-padding: 10px 20px;
}

.button-lg {
  -fx-padding: 12px 24px;
}
