.text-bg {
    -fx-text-fill: -color-bg;
}

.text-fg {
    -fx-text-fill: -color-fg;
}

.text-primary {
    -fx-text-fill: -color-primary;
}

.text-secondary {
    -fx-text-fill: -color-secondary;
}

.text-tertiary {
    -fx-text-fill: -color-tertiary;
}

.text-muted {
    -fx-text-fill: -color-muted;
}

.text-destructive {
    -fx-text-fill: -color-destructive;
}

.text-bold {
    -fx-font-weight: bold;
}

.text-italic {
    -fx-font-style: italic;
}

.text-underline {
    -fx-underline: true;
}

.text-underline-dotted {
    -fx-underline: true;
    -fx-underline-style: dotted;
}

.text-underline-dashed {
    -fx-underline: true;
    -fx-underline-style: dashed;
}

.text-underline-wavy {
    -fx-underline: true;
    -fx-underline-style: wavy;
}

.text-underline-wavy-dashed {
    -fx-underline: true;
    -fx-underline-style: wavy dashed;
}

.text-underline-wavy-dotted {
    -fx-underline: true;
    -fx-underline-style: wavy dotted;
}

.text-underline-wavy-dotted-dashed {
    -fx-underline: true;
    -fx-underline-style: wavy dotted dashed;
}

.bg-primary {
    -fx-background-color: -color-primary;
}

.bg-secondary {
    -fx-background-color: -color-secondary;
}

.bg-tertiary {
    -fx-background-color: -color-tertiary;
}

.bg-muted {
    -fx-background-color: -color-muted;
}

.bg-destructive {
    -fx-background-color: -color-destructive;
}

.bg-darker-bg {
    -fx-background-color: -color-darker-bg;
}

.bg-fg {
    -fx-background-color: -color-fg;
}

.bg-bg {
    -fx-background-color: -color-bg;
}

.bg-none {
    -fx-background-color: transparent;
}

/* use units for border radius */
.rounded-xs {
    -fx-border-radius: 8px;
    -fx-background-radius: 8px;
}

.rounded-sm {
    -fx-border-radius: 12px;
    -fx-background-radius: 12px;
}

.rounded-base {
    -fx-border-radius: 16px;
    -fx-background-radius: 16px;
}

.rounded-md {
    -fx-border-radius: 20px;
    -fx-background-radius: 20px;
}

.rounded-lg {
    -fx-border-radius: 24px;
    -fx-background-radius: 24px;
}

.rounded-full {
    -fx-border-radius: 9999px;
    -fx-background-radius: 9999px;
}

.font-thin {
    -fx-font-weight: thin;
}

.font-extralight {
    -fx-font-weight: extra-light;
}

.font-light {
    -fx-font-weight: light;
}

.font-normal {
    -fx-font-weight: normal;
}

.font-medium {
    -fx-font-weight: medium;
}

.font-semibold {
    -fx-font-weight: semi-bold;
}

.font-bold {
    -fx-font-weight: bold;
}

.font-extrabold {
    -fx-font-weight: extra-bold;
}

.font-black {
    -fx-font-weight: black;
}

.font-italic {
    -fx-font-style: italic;
}

.font-oblique {
    -fx-font-style: oblique;
}

.font-normal {
    -fx-font-style: normal;
}

.font-overline {
    -fx-font-style: overline;
}

.font-underline {
    -fx-font-style: underline;
}

.font-line-through {
    -fx-font-style: line-through;
}

.font-strikethrough {
    -fx-font-style: strikethrough;
}

.text-xs {
    -fx-font-size: 8px;
}

.text-sm {
    -fx-font-size: 12px;
}

.text-base {
    -fx-font-size: 16px;
}

.text-md {
    -fx-font-size: 20px;
}

.text-lg {
    -fx-font-size: 24px;
}

.text-xl {
    -fx-font-size: 32px;
}

.text-2xl {
    -fx-font-size: 40px;
}

.text-3xl {
    -fx-font-size: 48px;
}

.text-4xl {
    -fx-font-size: 64px;
}

.text-5xl {
    -fx-font-size: 80px;
}

.text-6xl {
    -fx-font-size: 96px;
}

.text-7xl {
    -fx-font-size: 112px;
}

.text-8xl {
    -fx-font-size: 128px;
}

.border-none {
    -fx-border-color: transparent;
}

.border-bg {
    -fx-border-color: -color-bg;
}

.border-fg {
    -fx-border-color: -color-fg;
}

.border-primary {
    -fx-border-color: -color-primary;
}

.border-secondary {
    -fx-border-color: -color-secondary;
}

.border-tertiary {
    -fx-border-color: -color-tertiary;
}

.border-muted {
    -fx-border-color: -color-muted;
}

.border-destructive {
    -fx-border-color: -color-destructive;
}

.border-darker-bg {
    -fx-border-color: -color-darker-bg;
}

.border-1 {
    -fx-border-width: 1px;
}

.border-2 {
    -fx-border-width: 2px;
}

.border-4 {
    -fx-border-width: 4px;
}

.border-8 {
    -fx-border-width: 8px;
}

.p-none {
    -fx-padding: 0;
}

.p-xs {
    -fx-padding: 8px;
}

.p-sm {
    -fx-padding: 12px;
}

.p-base {
    -fx-padding: 16px;
}

.p-md {
    -fx-padding: 20px;
}

.p-lg {
    -fx-padding: 24px;
}

.p-xl {
    -fx-padding: 32px;
}

.p-2xl {
    -fx-padding: 40px;
}

.p-3xl {
    -fx-padding: 48px;
}

.p-4xl {
    -fx-padding: 64px;
}

.p-5xl {
    -fx-padding: 80px;
}

.p-6xl {
    -fx-padding: 96px;
}

.p-7xl {
    -fx-padding: 112px;
}

.p-8xl {
    -fx-padding: 128px;
}

/* increase width by 32px for each increment */
.w-3xs {
    -fx-max-width: 256px;
}

.w-2xs {
    -fx-max-width: 288px;
}

.w-xs {
    -fx-max-width: 320px;
}

.w-sm {
    -fx-max-width: 384px;
}

.w-md {
    -fx-max-width: 448px;
}

.w-lg {
    -fx-max-width: 512px;
}

.w-xl {
    -fx-max-width: 576px;
}

.w-2xl {
    -fx-max-width: 640px;
}

.w-3xl {
    -fx-max-width: 704px;
}

.w-4xl {
    -fx-max-width: 768px;
}

.w-5xl {
    -fx-max-width: 832px;
}

.w-6xl {
    -fx-max-width: 896px;
}

.w-7xl {
    -fx-max-width: 960px;
}

.w-8xl {
    -fx-max-width: 1024px;
}

.w-9xl {
    -fx-max-width: 1088px;
}

.w-10xl {
    -fx-max-width: 1152px;
}

.w-11xl {
    -fx-max-width: 1216px;
}

.w-12xl {
    -fx-max-width: 1280px;
}
